<div class="footer">
  <div class="footer-links">
    <%= link_to "" %><i class="fab fa-github"></i>
    <%= link_to "" %><i class="fab fa-instagram"></i>
    <%= link_to "" %><i class="fab fa-facebook"></i>
    <%= link_to "" %><i class="fab fa-twitter"></i>
       <!-- <a href="#"></i></a> -->
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>


</div>
