

<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="team">
      <%= link_to "More about this template", "team.html"  %>
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p> -->
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <form class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="Where?">
          <input type="text" class="form-control input-lg" placeholder="When?">
          <select class="form-control input-lg">
            <option value="1">1guest</option>
            <option value="1">2guests</option>
            <option value="1">3guets</option>
          </select>
          <input class="btn btn-primary btn-lg" type="submit" value="Serach">
    </form>

  </div>
</div>

<div class="container">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Sebastien's home</h2>
          <p>Charming room in Montmartre</p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: white"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: white"></i>
          </p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Boris' home</h2>
          <p>Small flat in Tokyo</p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: white"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: white"></i>
          </p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/papillard">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/london');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Romain's home</h2>
          <p>Nice flat in Piccadilly</p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: white"></i>
          </p>
          <p class = "rating">
            <i class="fa fa-star" style="color: white"></i>
          </p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/monsieurpaillard">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
  </div>
</div>


